<launch>

  <arg name="robot_model"                       default="wx250s"/>
  <arg name="robot_name"                        default="$(arg robot_model)"/>
  <arg name="base_link_frame"                   default="base_link"/>
  <arg name="external_urdf_loc"                 default=""/>
  <arg name="use_rviz"                          default="true"/>
  <arg name="use_infra"                         default="true"/>
  <arg name="bag_name"                          default=""/>

  <arg name="record"                            default="false"/>
  <arg name="playback"                          default="false"/>
  <arg name="playback_rate"                     default="1"/>

  <arg name="mode_configs"                      value="$(find pancake_flipping)/config/record_modes.yaml"     if="$(arg record)" />
  <arg name="mode_configs"                      value="$(find pancake_flipping)/config/playback_modes.yaml"   if="$(arg playback)" />

  <include file="$(find pancake_flipping)/launch/two_cameras.launch">
    <arg name="use_infra"                       value="$(arg use_infra)"/>
  </include>

  <group if="$(arg record)">
      <node
      name="clean_publisher"
      pkg="pancake_flipping"
      type="clean_pub"
      respawn="false"
      output="screen"
      ns="$(arg robot_name)">
      </node>

      <node
      if="$(arg use_infra)"
      name="rosbag_record_commands"
      pkg="rosbag"
      type="record"
      args="record -O $(find pancake_flipping)/bag/$(arg bag_name).bag /$(arg robot_name)/clean_cmds/joint_group /$(arg robot_name)/clean_cmds/joint_single /$(arg robot_name)/joint_states ar_pose_marker /camera1/infra1/image_rect_raw /camera2/infra1/image_rect_raw"/>

      <node
      unless="$(arg use_infra)"
      name="rosbag_record_commands"
      pkg="rosbag"
      type="record"
      args="record -O $(find pancake_flipping)/bag/$(arg bag_name).bag /$(arg robot_name)/clean_cmds/joint_group /$(arg robot_name)/clean_cmds/joint_single /$(arg robot_name)/joint_states ar_pose_marker /camera1/color/image_raw /camera2/color/image_raw"/>
  </group>

  <group if="$(arg playback)">
    <node
      name="noisy_publisher"
      pkg="pancake_flipping"
      type="noisy_pub"
      respawn="true"
      output="screen"
      ns="$(arg robot_name)">
    </node>
    <node if="$(arg playback)"
      name="rosbag_play_commands"
      pkg="rosbag"
      type="play"
      args="-d 3.0 -r $(arg playback_rate) $(find pancake_flipping)/bag/$(arg bag_name).bag"/>
  </group>

</launch>