<launch>

  <arg name="robot_model"                       default="wx250s"/>
  <arg name="robot_name"                        default="$(arg robot_model)"/>
  <arg name="base_link_frame"                   default="base_link"/>
  <arg name="external_urdf_loc"                 default=""/>
  <arg name="use_rviz"                          default="true"/>
  <arg name="load_configs"                      default="true"/>

  <arg name="camID1"                            default="camera1"/>
  <arg name="serial1"                           default="036522072362"/>
  <arg name="camID2"                            default="camera2"/>
  <arg name="serial2"                           default="035422070556"/>
  <arg name="filters"                           default="spatial,temporal,pointcloud"/>
  <arg name="color_fps"                         default="30"/>
  <arg name="color_width"                       default="640"/>
  <arg name="color_height"                      default="480"/>
  <arg name="depth_fps"                         default="30"/>
  <arg name="depth_width"                       default="640"/>
  <arg name="depth_height"                      default="480"/>

  <arg name="filter_ns"                         default="pc_filter"/>
  <arg name="filter_params"                     default="$(find interbotix_xsarm_perception)/config/filter_params.yaml"/>
  <arg name="use_pointcloud_tuner_gui"          default="false"/>
  <arg name="enable_pipeline"                   default="$(arg use_pointcloud_tuner_gui)"/>
  <arg name="cloud_topic1"                      default="/$(arg camID1)/depth/color/points"/>
  <arg name="cloud_topic2"                      default="/$(arg camID2)/depth/color/points"/>

  <arg name="marker_size"                       default="4" />
	<arg name="max_new_marker_error"              default="0.08" />
	<arg name="max_track_error"                   default="0.2" />
	<arg name="camera1_image_topic"               default="/camera1/color/image_raw" />
	<arg name="camera2_image_topic"               default="/camera2/color/image_raw" />
	<arg name="camera1_info_topic"                default="/camera1/color/camera_info" />
	<arg name="camera2_info_topic"                default="/camera2/color/camera_info" />
	<arg name="output_frame"                      default="/wx250s/base_link" />

  <arg name="load_transforms"                   default="true"/>
  <arg name="transform_filepath"                default="$(find interbotix_xsarm_perception)/config/static_transforms.yaml"/>

  <arg name="rviz_frame"                        default="$(arg robot_name)/$(arg base_link_frame)"/>
  <arg name="rvizconfig"                        default="$(find pancake_flipping)/rviz/two_cameras.rviz" />

  <include file="$(find interbotix_xsarm_control)/launch/xsarm_control.launch">
    <arg name="robot_model"                       value="$(arg robot_model)"/>
    <arg name="robot_name"                        value="$(arg robot_name)"/>
    <arg name="base_link_frame"                   value="$(arg base_link_frame)"/>
    <arg name="show_ar_tag"                       value="true"/>
    <arg name="use_world_frame"                   value="false"/>
    <arg name="external_urdf_loc"                 value="$(arg external_urdf_loc)"/>
    <arg name="use_rviz"                          value="false"/>
    <arg name="load_configs"                      value="$(arg load_configs)"/>
  </include>


  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="serial_no"                         value="$(arg serial2)"/>
    <arg name="camera"                            default="$(arg camID2)"/>
    <arg name="filters"                           value="$(arg filters)"/>
    <arg name="color_fps"                         value="$(arg color_fps)"/>
    <arg name="color_width"                       value="$(arg color_width)"/>
    <arg name="color_height"                      value="$(arg color_height)"/>
    <arg name="depth_fps"                         value="$(arg depth_fps)"/>
    <arg name="depth_width"                       value="$(arg depth_width)"/>
    <arg name="depth_height"                      value="$(arg depth_height)"/>
  </include>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="serial_no"                         value="$(arg serial1)"/>
    <arg name="camera"                            default="$(arg camID1)"/>
    <arg name="filters"                           value="$(arg filters)"/>
    <arg name="color_fps"                         value="$(arg color_fps)"/>
    <arg name="color_width"                       value="$(arg color_width)"/>
    <arg name="color_height"                      value="$(arg color_height)"/>
    <arg name="depth_fps"                         value="$(arg depth_fps)"/>
    <arg name="depth_width"                       value="$(arg depth_width)"/>
    <arg name="depth_height"                      value="$(arg depth_height)"/>
  </include>

  <include file="$(find interbotix_perception_modules)/launch/pc_filter.launch">
    <arg name="filter_ns"                         value="$(arg filter_ns)1"/>
    <arg name="filter_params"                     value="$(arg filter_params)"/>
    <arg name="enable_pipeline"                   value="$(arg enable_pipeline)"/>
    <arg name="cloud_topic"                       value="$(arg cloud_topic1)"/>
    <arg name="use_pointcloud_tuner_gui"          value="$(arg use_pointcloud_tuner_gui)"/>
  </include>

  <include file="$(find interbotix_perception_modules)/launch/pc_filter.launch">
    <arg name="filter_ns"                         value="$(arg filter_ns)2"/>
    <arg name="filter_params"                     value="$(arg filter_params)"/>
    <arg name="enable_pipeline"                   value="$(arg enable_pipeline)"/>
    <arg name="cloud_topic"                       value="$(arg cloud_topic2)"/>
    <arg name="use_pointcloud_tuner_gui"          value="$(arg use_pointcloud_tuner_gui)"/>
  </include>

  <node name="ar_track_alvar1" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
		<param name="marker_size"           type="double" value="$(arg marker_size)" />
		<param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
		<param name="max_track_error"       type="double" value="$(arg max_track_error)" />
		<param name="output_frame"          type="string" value="$(arg output_frame)" />

		<remap from="camera_image"  to="$(arg camera1_image_topic)" />
		<remap from="camera_info"   to="$(arg camera1_info_topic)" />
	</node>

  <node name="ar_track_alvar2" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
		<param name="marker_size"           type="double" value="$(arg marker_size)" />
		<param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
		<param name="max_track_error"       type="double" value="$(arg max_track_error)" />
		<param name="output_frame"          type="string" value="$(arg output_frame)" />

		<remap from="camera_image"  to="$(arg camera2_image_topic)" />
		<remap from="camera_info"   to="$(arg camera2_info_topic)" />
	</node>

  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster1"
      args="0.41532 0.01 0.607188   -0.00887947 0.70425 -0.00487402 0.70988 wx250s/base_link camera1_link" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster2"
      args="0.68705 -0.0118019 0.319717   0.040387 0.0381147 0.998241 -0.0207859 wx250s/base_link camera2_link" />

  <node if="$(arg use_rviz)"
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-f $(arg rviz_frame) -d $(arg rvizconfig)"
    ns="$(arg robot_name)"/>

</launch>
