<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.875793 0.00477578 0.578769" rpy="1.52548 0.0238262 -2.34618" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.837793 0.00477578 0.598769   -0.259631 -0.640271 0.663286 -0.287569 wx250s/base_link camera_link" />
</launch>
