<launch>
  <arg name="use_infra"                         default="false"/>
  <arg name="robot_model"                       default="wx250s"/>
  <arg name="robot_name"                        default="$(arg robot_model)"/>
  <arg name="base_link_frame"                   default="base_link"/>
  <arg name="bag_name"                          default=""/>
  
  <arg name="record"                            default="false"/>
  <arg name="playback"                          default="false"/>
  <arg name="playback_rate"                     default="1"/>
  <!-- <arg name="set_exposure"                      default="0"/> -->

	<arg name="is_large"                          default="1" />
	<arg name="bundle_filename"                   default="big_pancake"         if="$(arg is_large)"/>
  <arg name="marker_size"                       default="3.75"                if="$(arg is_large)"/>
  <arg name="bundle_filename"                   default="small_pancake"   unless="$(arg is_large)"/>
  <arg name="marker_size"                       default="2"               unless="$(arg is_large)"/>

  <arg name="camID1"                            default="camera1"/>
  <arg name="camID2"                            default="camera2"/>
  <arg name="camID3"                            default="camera3"/>

  <arg name="rviz_frame"                        default="$(arg robot_name)/$(arg base_link_frame)"/>
  <arg name="rvizconfig"                        default="$(find pancake_flipping)/rviz/three_cameras_infra.rviz"    if="$(arg use_infra)" />
  <arg name="rvizconfig"                        default="$(find pancake_flipping)/rviz/three_cameras.rviz"      unless="$(arg use_infra)" />

  <arg if="$(arg record)"   name="mode_configs" value="$(find pancake_flipping)/config/playback_modes.yaml"/>
  <arg if="$(arg playback)" name="mode_configs" value="$(find pancake_flipping)/config/playback_modes.yaml"/>

  <!-- <node if="$(arg set_exposure)" pkg="pancake_flipping" type="set_exposure.sh" name="set_exposure" output="screen" respawn="false"/> -->

  <group if="$(arg playback)">
    <include file="$(find interbotix_xsarm_control)/launch/xsarm_control.launch">
      <arg name="robot_model"                       value="$(arg robot_model)"/>
      <arg name="robot_name"                        value="$(arg robot_name)"/>
      <arg name="base_link_frame"                   value="$(arg base_link_frame)"/>
      <arg name="show_ar_tag"                       value="true"/>
      <arg name="use_world_frame"                   value="false"/>
      <arg name="use_rviz"                          value="false"/>
      <arg name="mode_configs"                      value="$(arg mode_configs)"/>
    </include>

    <node
      name="rviz"
      pkg="rviz"
      type="rviz"
      args="-f $(arg rviz_frame) -d $(arg rvizconfig)"
      ns="$(arg robot_name)"/>
  </group>



  <group if="$(arg record)">

    <include file="$(find pancake_flipping)/launch/three_cameras_multi_cam.launch" >
      <arg name="use_infra"                       value="$(arg use_infra)"/>
      <arg name="mode_configs"                    value="$(arg mode_configs)"/>
      <arg name="rviz_frame"                      value="$(arg robot_name)/$(arg base_link_frame)"/>
      <arg name="rvizconfig"                      value="$(find pancake_flipping)/rviz/three_cameras_infra.rviz"    if="$(arg use_infra)" />
      <arg name="rvizconfig"                      value="$(find pancake_flipping)/rviz/three_cameras.rviz"      unless="$(arg use_infra)" />
      <arg name="bundle_filename"                 value="$(arg bundle_filename)" />
      <arg name="camID1"                          value="$(arg camID1)"/>
      <arg name="camID2"                          value="$(arg camID2)"/>
      <arg name="camID3"                          value="$(arg camID3)"/>
    </include>

      <node
      name="triggered_synchronizer"
      pkg="pancake_flipping"
      type="triggered_synchronizer"
      respawn="false"
      output="screen"/>

      <node pkg="pancake_flipping" name="trigger" type="trigger.py" respawn="false" output="screen"/>

      <node
      if="$(arg use_infra)"
      name="rosbag_record_commands"
      pkg="rosbag"
      type="record"
      args="record -O $(find pancake_flipping)/bag/$(arg bag_name).bag 
      /$(arg robot_name)/commands/joint_group 
      /$(arg robot_name)/commands/joint_single 
      /$(arg robot_name)/joint_states 
      /synced_pose 
      /tf
      visualization_marker"/>

      <node
      unless="$(arg use_infra)"
      name="rosbag_record_commands"
      pkg="rosbag"
      type="record"
      args="record -O $(find pancake_flipping)/bag/$(arg bag_name).bag 
      /$(arg robot_name)/commands/joint_group
      /$(arg robot_name)/commands/joint_single
      /$(arg robot_name)/joint_states 
      /synced_pose 
      /tf
      visualization_marker"/>
  </group>
  <group if="$(arg playback)">
    <node if="$(arg playback)"
      name="rosbag_play_commands"
      pkg="rosbag"
      type="play"
      args="-d 3.0 -r $(arg playback_rate) $(find pancake_flipping)/bag/$(arg bag_name).bag"/>
  </group>
</launch>
