<launch>
  <arg name="robot_model"                       default="wx250s"/>
  <arg name="robot_name"                        default="$(arg robot_model)"/>
  <arg name="base_link_frame"                   default="base_link"/>
  <arg name="external_urdf_loc"                 default=""/>
  <arg name="use_rviz"                          default="true"/>
  <arg name="mode_configs"                      default="$(find pancake_flipping)/config/record_modes.yaml"/>
  <!-- description and control args -->
  <arg name="camID1"                            default="camera1"/>
  <arg name="camID2"                            default="camera2"/>
  <arg name="camID3"                            default="camera3"/>
  <arg name="serial1"                           default="036222071075"/>
  <arg name="serial2"                           default="036522072362"/>
  <arg name="serial3"                           default="035422070556"/>

  <arg name="filters"                           default="pointcloud"/>
  <arg name="color_fps"                         default="60"/>
  <arg name="color_width"                       default="960"/>
  <arg name="color_height"                      default="540"/>
  <arg name="depth_fps"                         default="60"/>
  <arg name="depth_width"                       default="640"/>
  <arg name="depth_height"                      default="480"/>
  <arg name="infra_fps"                         default="300"/>
  <arg name="infra_width"                       default="848"/>
  <arg name="infra_height"                      default="100"/>
  <arg name="initial_reset"                     default="false"/>

  <arg name="use_infra"                         default="true"/>
  <arg name="enable_infra1"                     default="1"             if="$(arg use_infra)" />
  <arg name="enable_infra1"                     default="0"         unless="$(arg use_infra)" />
  <arg name="enable_infra2"                     default="0"/>
  <arg name="enable_color"                      default="0"             if="$(arg use_infra)"/>
  <arg name="enable_color"                      default="1"         unless="$(arg use_infra)"/>
  <arg name="enable_depth"                      default="0"             if="$(arg use_infra)"/>
  <arg name="enable_depth"                      default="1"         unless="$(arg use_infra)"/>

  <arg name="filter_ns"                         default="pc_filter"/>
  <arg name="filter_params"                     default="$(find interbotix_xsarm_perception)/config/filter_params.yaml"/>
  <arg name="use_pointcloud_tuner_gui"          default="false"/>
  <arg name="enable_pipeline"                   default="$(arg use_pointcloud_tuner_gui)"/>
  <arg name="cloud_topic1"                      default="/$(arg camID1)/depth/color/points"/>
  <arg name="cloud_topic2"                      default="/$(arg camID2)/depth/color/points"/>
  <arg name="cloud_topic3"                      default="/$(arg camID3)/depth/color/points"/>

	<arg name="camera1_color_image_topic"         default="/$(arg camID1)/color/image_raw" />
	<arg name="camera1_color_info_topic"          default="/$(arg camID1)/color/camera_info" />
	<arg name="camera2_color_image_topic"         default="/$(arg camID2)/color/image_raw" />
	<arg name="camera2_color_info_topic"          default="/$(arg camID2)/color/camera_info" />
	<arg name="camera3_color_image_topic"         default="/$(arg camID3)/color/image_raw" />
	<arg name="camera3_color_info_topic"          default="/$(arg camID3)/color/camera_info" />
	<arg name="camera1_infra1_topic"              default="/$(arg camID1)/infra1/image_rect_raw" />
	<arg name="camera1_infra1_info_topic"         default="/$(arg camID1)/infra1/camera_info" />
	<arg name="camera1_infra2_topic"              default="/$(arg camID1)/infra2/image_rect_raw" />
	<arg name="camera1_infra2_info_topic"         default="/$(arg camID1)/infra2/camera_info" />
  <arg name="camera2_infra1_topic"              default="/$(arg camID2)/infra1/image_rect_raw" />
	<arg name="camera2_infra1_info_topic"         default="/$(arg camID2)/infra1/camera_info" />
	<arg name="camera2_infra2_topic"              default="/$(arg camID2)/infra2/image_rect_raw" />
	<arg name="camera2_infra2_info_topic"         default="/$(arg camID2)/infra2/camera_info" />
  <arg name="camera3_infra1_topic"              default="/$(arg camID3)/infra1/image_rect_raw" />
	<arg name="camera3_infra1_info_topic"         default="/$(arg camID3)/infra1/camera_info" />
	<arg name="camera3_infra2_topic"              default="/$(arg camID3)/infra2/image_rect_raw" />
	<arg name="camera3_infra2_info_topic"         default="/$(arg camID3)/infra2/camera_info" />
	<arg name="output_frame"                      default="$(arg robot_name)/$(arg base_link_frame)" />

  <arg name="marker_size"                       default="3.4" />
	<arg name="max_new_marker_error"              default="0.1" />
	<arg name="max_track_error"                   default="0.25" />
	<arg name="bundle_filename"                   default="pancake" />
	<arg name="bundle_files"                      default="$(find pancake_flipping)/bundles/$(arg bundle_filename).xml" />

  <arg name="load_transforms"                   default="true"/>
  <arg name="transform_filepath"                default="$(find interbotix_xsarm_perception)/config/static_transforms.yaml"/>

  <arg name="rviz_frame"                        default="$(arg robot_name)/$(arg base_link_frame)"/>
  <arg name="rvizconfig"                        default="$(find pancake_flipping)/rviz/three_cameras_infra.rviz"    if="$(arg use_infra)" />
  <arg name="rvizconfig"                        default="$(find pancake_flipping)/rviz/three_cameras.rviz"      unless="$(arg use_infra)" />

  <include file="$(find interbotix_xsarm_control)/launch/xsarm_control.launch">
    <arg name="robot_model"                       value="$(arg robot_model)"/>
    <arg name="robot_name"                        value="$(arg robot_name)"/>
    <arg name="base_link_frame"                   value="$(arg base_link_frame)"/>
    <arg name="show_ar_tag"                       value="true"/>
    <arg name="use_world_frame"                   value="false"/>
    <arg name="external_urdf_loc"                 value="$(arg external_urdf_loc)"/>
    <arg name="use_rviz"                          value="false"/>
    <arg name="mode_configs"                      value="$(arg mode_configs)"/>
  </include>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="serial_no"                         value="$(arg serial1)"/>
    <arg name="camera"                            value="$(arg camID1)"/>
    <arg name="filters"                           value="$(arg filters)"/>
    <arg name="color_fps"                         value="$(arg color_fps)"/>
    <arg name="color_width"                       value="$(arg color_width)"/>
    <arg name="color_height"                      value="$(arg color_height)"/>
    <arg name="depth_fps"                         value="$(arg depth_fps)"/>
    <arg name="depth_width"                       value="$(arg depth_width)"/>
    <arg name="depth_height"                      value="$(arg depth_height)"/>
    <arg name="enable_color"                      value="$(arg enable_color)"/>
    <arg name="enable_infra1"                     value="$(arg enable_infra1)"/>
    <arg name="enable_infra2"                     value="$(arg enable_infra2)"/>
    <arg name="infra_fps"                         value="$(arg infra_fps)"/>
    <arg name="infra_width"                       value="$(arg infra_width)"/>
    <arg name="infra_height"                      value="$(arg infra_height)"/>
    <arg name="initial_reset"                     value="$(arg initial_reset)"/>
  </include>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="serial_no"                         value="$(arg serial2)"/>
    <arg name="camera"                            value="$(arg camID2)"/>
    <arg name="filters"                           value="$(arg filters)"/>
    <arg name="color_fps"                         value="$(arg color_fps)"/>
    <arg name="color_width"                       value="$(arg color_width)"/>
    <arg name="color_height"                      value="$(arg color_height)"/>
    <arg name="depth_fps"                         value="$(arg depth_fps)"/>
    <arg name="depth_width"                       value="$(arg depth_width)"/>
    <arg name="depth_height"                      value="$(arg depth_height)"/>
    <arg name="enable_color"                      value="$(arg enable_color)"/>
    <arg name="enable_infra1"                     value="$(arg enable_infra1)"/>
    <arg name="enable_infra2"                     value="$(arg enable_infra2)"/>
    <arg name="infra_fps"                         value="$(arg infra_fps)"/>
    <arg name="infra_width"                       value="$(arg infra_width)"/>
    <arg name="infra_height"                      value="$(arg infra_height)"/>
    <arg name="initial_reset"                     value="$(arg initial_reset)"/>
  </include>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="serial_no"                         value="$(arg serial3)"/>
    <arg name="camera"                            value="$(arg camID3)"/>
    <arg name="filters"                           value="$(arg filters)"/>
    <arg name="color_fps"                         value="$(arg color_fps)"/>
    <arg name="color_width"                       value="$(arg color_width)"/>
    <arg name="color_height"                      value="$(arg color_height)"/>
    <arg name="depth_fps"                         value="$(arg depth_fps)"/>
    <arg name="depth_width"                       value="$(arg depth_width)"/>
    <arg name="depth_height"                      value="$(arg depth_height)"/>
    <arg name="enable_color"                      value="$(arg enable_color)"/>
    <arg name="enable_infra1"                     value="$(arg enable_infra1)"/>
    <arg name="enable_infra2"                     value="$(arg enable_infra2)"/>
    <arg name="infra_fps"                         value="$(arg infra_fps)"/>
    <arg name="infra_width"                       value="$(arg infra_width)"/>
    <arg name="infra_height"                      value="$(arg infra_height)"/>
    <arg name="initial_reset"                     value="$(arg initial_reset)"/>
  </include>

  <!-- <include file="$(find interbotix_perception_modules)/launch/pc_filter.launch">
    <arg name="filter_ns"                         value="$(arg filter_ns)1"/>
    <arg name="filter_params"                     value="$(arg filter_params)"/>
    <arg name="enable_pipeline"                   value="$(arg enable_pipeline)"/>
    <arg name="cloud_topic"                       value="$(arg cloud_topic1)"/>
    <arg name="use_pointcloud_tuner_gui"          value="$(arg use_pointcloud_tuner_gui)"/>
  </include>

  <include file="$(find interbotix_perception_modules)/launch/pc_filter.launch">
    <arg name="filter_ns"                         value="$(arg filter_ns)2"/>
    <arg name="filter_params"                     value="$(arg filter_params)"/>
    <arg name="enable_pipeline"                   value="$(arg enable_pipeline)"/>
    <arg name="cloud_topic"                       value="$(arg cloud_topic2)"/>
    <arg name="use_pointcloud_tuner_gui"          value="$(arg use_pointcloud_tuner_gui)"/>
  </include>

  <include file="$(find interbotix_perception_modules)/launch/pc_filter.launch">
    <arg name="filter_ns"                         value="$(arg filter_ns)3"/>
    <arg name="filter_params"                     value="$(arg filter_params)"/>
    <arg name="enable_pipeline"                   value="$(arg enable_pipeline)"/>
    <arg name="cloud_topic"                       value="$(arg cloud_topic3)"/>
    <arg name="use_pointcloud_tuner_gui"          value="$(arg use_pointcloud_tuner_gui)"/> -->
  <!-- </include> -->

  <node if="$(arg use_infra)" name="ar_track_alvar1" pkg="ar_track_alvar" type="findMarkerBundlesNoKinect" respawn="false" output="screen">
		<param name="marker_size"           type="double" value="$(arg marker_size)" />
		<param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
		<param name="max_track_error"       type="double" value="$(arg max_track_error)" />
		<param name="output_frame"          type="string" value="$(arg output_frame)" />
		<param name="bundle_files"          type="string" value="$(arg bundle_files)" />
    <param name="camera"                type="string" value="$(arg camID1)"/>

		<remap from="camera_image"  to="$(arg camera1_infra1_topic)" />
		<remap from="camera_info"   to="$(arg camera1_infra1_info_topic)" />
	</node>

  <node unless="$(arg use_infra)" name="ar_track_alvar1" pkg="ar_track_alvar" type="findMarkerBundlesNoKinect" respawn="false" output="screen">
		<param name="marker_size"           type="double" value="$(arg marker_size)" />
		<param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
		<param name="max_track_error"       type="double" value="$(arg max_track_error)" />
		<param name="output_frame"          type="string" value="$(arg output_frame)" />
		<param name="bundle_files"          type="string" value="$(arg bundle_files)" />
    <param name="camera"                type="string" value="$(arg camID1)"/>

		<remap from="camera_image"  to="$(arg camera1_color_image_topic)" />
		<remap from="camera_info"   to="$(arg camera1_color_info_topic)" />
	</node>

  <node if="$(arg use_infra)" name="ar_track_alvar2" pkg="ar_track_alvar" type="findMarkerBundlesNoKinect" respawn="false" output="screen">
		<param name="marker_size"           type="double" value="$(arg marker_size)" />
		<param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
		<param name="max_track_error"       type="double" value="$(arg max_track_error)" />
		<param name="output_frame"          type="string" value="$(arg output_frame)" />
		<param name="bundle_files"          type="string" value="$(arg bundle_files)" />
    <param name="camera"                type="string" value="$(arg camID2)"/>

		<remap from="camera_image"  to="$(arg camera2_infra1_topic)" />
		<remap from="camera_info"   to="$(arg camera2_infra1_info_topic)" />
	</node>

  <node unless="$(arg use_infra)" name="ar_track_alvar2" pkg="ar_track_alvar" type="findMarkerBundlesNoKinect" respawn="false" output="screen">
		<param name="marker_size"           type="double" value="$(arg marker_size)" />
		<param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
		<param name="max_track_error"       type="double" value="$(arg max_track_error)" />
		<param name="output_frame"          type="string" value="$(arg output_frame)" />
		<param name="bundle_files"          type="string" value="$(arg bundle_files)" />
    <param name="camera"                type="string" value="$(arg camID2)"/>

		<remap from="camera_image"  to="$(arg camera2_color_image_topic)" />
		<remap from="camera_info"   to="$(arg camera2_color_info_topic)" />
	</node>

  <node if="$(arg use_infra)" name="ar_track_alvar3" pkg="ar_track_alvar" type="findMarkerBundlesNoKinect" respawn="false" output="screen">
		<param name="marker_size"           type="double" value="$(arg marker_size)" />
		<param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
		<param name="max_track_error"       type="double" value="$(arg max_track_error)" />
		<param name="output_frame"          type="string" value="$(arg output_frame)" />
		<param name="bundle_files"          type="string" value="$(arg bundle_files)" />
    <param name="camera"                type="string" value="$(arg camID3)"/>

		<remap from="camera_image"  to="$(arg camera3_infra1_topic)" />
		<remap from="camera_info"   to="$(arg camera3_infra1_info_topic)" />
	</node>

  <node unless="$(arg use_infra)" name="ar_track_alvar3" pkg="ar_track_alvar" type="findMarkerBundlesNoKinect" respawn="false" output="screen">
		<param name="marker_size"           type="double" value="$(arg marker_size)" />
		<param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
		<param name="max_track_error"       type="double" value="$(arg max_track_error)" />
		<param name="output_frame"          type="string" value="$(arg output_frame)" />
		<param name="bundle_files"          type="string" value="$(arg bundle_files)" />
    <param name="camera"                type="string" value="$(arg camID3)"/>

		<remap from="camera_image"  to="$(arg camera3_color_image_topic)" />
		<remap from="camera_info"   to="$(arg camera3_color_info_topic)" />
	</node>

  <include file="$(find pancake_flipping)/launch/camera_broadcasters.launch"/>

  <node if="$(arg use_rviz)"
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-f $(arg rviz_frame) -d $(arg rvizconfig)"
    ns="$(arg robot_name)"/>

</launch>
