<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.230387 0.0333203 0.667201" rpy="2.15252 1.62798 -2.07684" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.230387 0.0333203 0.667201   0.00944052 0.695851 0.0440385 0.716773 wx250s/base_link camera_color_frame" />
</launch>
